<h2>List of Products in inventory</h2>
<table class="tb">
    <thead><th>ID</th><th>Name</th><th>Price</th><th>Update Price</th></thead>
    <tr *ngFor="let products of productlist"><td>{{products.id}}</td>
        <td>{{products.name}}</td>
        <td>{{products.price}}</td>
        <!--property binding from changevalue component to update price using chilg paretn-->
        <td><app-changevalue [changevalue]="products.price" (update)="setnewprice($event, products.id)"></app-changevalue></td>
        </tr>
    
</table>

<div>
    <input name="id" placeholder="Product Id" [(ngModel)]="nid">
    <input name="pname" placeholder="Product Name" [(ngModel)]="nproduct">
    <input name="price" placeholder="Price" [(ngModel)]="nprice">
    <button (click)="addnewitem()">Add</button>
</div>