<div>
    
    <h1>ONLINE SHOPPING</h1>
    <ul id="menu_header">
        <li class="menus" role="presentation"><a routerLink="login">Login</a></li>
        <li class="menus" role="presentation"><a routerLink="registration">Registration</a></li>
        <li class="menus" role="presentation"><a routerLink="products">Products</a></li>
        <li class="menus" role="presentation"><a routerLink="inventory">Inventory</a></li>
        <li class="menus" role="presentation"><a routerLink="users">Users</a></li>
        <li class="menus" role="presentation"><a routerLink="profile">Profile</a></li>
        <li class="user">{{username}}</li>
    </ul>
    <!--
    <h2>Profile</h2>
    <p>Full Name : {{user.firstname}} {{user.lastname}}</p>
    <p>Email Id : {{user.email}}</p>
    <p>Date of birth : {{user.dob}}</p>
    -->
</div>