<h2>Your Cart :</h2>

    <div *ngIf="productlist.length > 0">
        <table class="tb">
            <tr><th>ID</th><th>Name</th><th>Price</th><th>Image</th><th></th></tr>
            <tr *ngFor="let product of productlist">
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td><img [src]="product.imagepath"></td>
                <td><button value="remove" (click)="remove(product.id)">Remove</button></td>
            </tr>
        </table>
    </div>
    <div *ngIf="productlist.length == 0">
        <h5>Your Cart is empty.</h5>
    </div>
     
