<h2>List of Products</h2>
<table class="tb">
    <thead><th>ID</th><th>Name</th><th>Price</th><th>Image</th><th *ngIf="loggedin"></th><th *ngIf="loggedin"></th></thead>
    <tr *ngFor="let products of productlist"><td>{{products.id}}</td>
        <td>{{products.name}}</td>
        <td>{{products.price}}</td>
        <td><img [src]="products.imagepath"></td>
        <td *ngIf="loggedin"><button value="Add to cart" (click)="addtocart(products.id)">Add to Cart</button></td>
        <td *ngIf="loggedin"><button value="Delete" (click)="delete(products.id)">Delete</button></td>
    </tr>
    
</table>